<!-- Author David Xue-->
<div class="container">
  <h1 [ngStyle]="{'color': 'blue', 'font-weight': 'bold'}">
    Welcome to {{ title }}!
  </h1>

  <form #orderForm="ngForm">
    <div class="form-group">
      <label>Name: </label>
      <input required #name="ngModel" 
             [class.is-invalid]="name.invalid"
             [(ngModel)]="orderModel.name" type="text" class="form-control" name="name">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is requried</small>
    </div>


    <div class="form-group">
      <label>Email: </label>
      <input [(ngModel)]="orderModel.email" type="email" class="form-control" name="email">
    </div>

    <div class="form-group">
      <label>Phone: </label>
      <input type="tel" class="form-control" required
          #phone="ngModel" pattern="^\d{10}$" 
          [class.is-invalid]="phone.invalid && phone.touched" 
          [(ngModel)]="orderModel.phone"  name="phone">
      <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number is required and must be 10 digits</small>
    </div>

  <div class="form-group">
      <label>Suggestion: </label>
      <input  [(ngModel)]="orderModel.suggestion" type="suggestion" class="form-control" name="suggestion">
    </div>
 
  <div class="form-group">
      <label>Type of Question? </label>
    <select [(ngModel)]="orderModel.drink" class="custom-select" name="drink_option" >
      <option *ngFor="let drink of drinks">{{drink}} </option>
    </select>
  </div>

  <div class="form-check mb-3">
    <input [(ngModel)]="orderModel.sendText" class="form-check-input" type="checkbox" ng-model="myVar" ng-init="myVar = false" name = "sendtxt">
    <label class="form-check-label">Allow us to reply to you? </label>
    <div ng-if="myVar" [ngClass]="['blue']">
    Thank you! We'll be in touch soon!
    </div>
  </div>

    <button class="btn btn-primary" (click)="senddata(orderForm.value)">Submit Suggestion!</button>

</form> 


   <br>
  <div>
    <button onclick="window.location.href='http://localhost/Tilttracker/about.php'" style="text-align:center" >Return to the site! </button>
  </div>
 </div>


